.carousel-item {
    margin-top: 32px;
    width: 100vw; /* Establece el ancho al 90% de la ventana (viewport width) */
    height: 100vh; /* Establece la altura al 90% de la ventana (viewport height) */
    object-fit: cover; /* Usa 'contain' para asegurarte de que la imagen se vea completa sin recortes */
  }

  .imgcarousel {
    width: 100vw; /* Establece el ancho al 90% de la ventana (viewport width) */
    height: auto; /* Establece la altura al 90% de la ventana (viewport height) */
    object-fit: cover; /* Usa 'contain' para asegurarte de que la imagen se vea completa sin recortes */
  }


  
  
  
  