.carrusel2 {
    background-color:rgb(212, 212, 212);
    max-width: 100%; 
    max-height: 100vh; 
    object-fit: cover; 
    text-align: center;
    margin-top: -90px;
  } 

  .separador {
    margin: 9%;
  }
  
  .coleccionlegadotit{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
<<<<<<< HEAD
    color: black;
  }

  .carousel-item {
    margin: top 0;;
    width: 100vw; /* Establece el ancho al 90% de la ventana (viewport width) */
    height: 100vh; /* Establece la altura al 90% de la ventana (viewport height) */
    object-fit: cover; /* Usa 'contain' para asegurarte de que la imagen se vea completa sin recortes */
  }

  .imgc {
    width: 100vw; /* Establece el ancho al 90% de la ventana (viewport width) */
    height: auto; /* Establece la altura al 90% de la ventana (viewport height) */
    object-fit: cover; /* Usa 'contain' para asegurarte de que la imagen se vea completa sin recortes */
  }
=======
    text-align: center;
}*/
>>>>>>> 2c407aeb540a40266acddb030279be645c63d12d
