.carousel-item {
    background-color: rgb(245, 245, 220);
    margin: top ;;
    max-width: 100%; /* Establece el ancho al 90% de la ventana (viewport width) */
    max-height: 100vh; /* Establece la altura al 90% de la ventana (viewport height) */
    object-fit: cover; /* Usa 'contain' para asegurarte de que la imagen se vea completa sin recortes */
    text-align: center;
  }

  .imgcarousel {
    max-width: 100%; /* Establece un ancho máximo del 100% del contenedor padre */
    max-height: 100vh; /* Establece la altura al 100% de la ventana (viewport height) */
    display: block; /* Elimina cualquier espacio adicional debajo de las imágenes */
    margin: 0 auto; /* Centra horizontalmente la imagen */
  }
  
  .separador {
    margin: 20px;
  }
  

/*.legado-item {
    padding-bottom: 50px;
    margin-left: 5%;
}

.legado-item img{
    width: 92%;
    height: 500px;
    margin: auto;
    margin-top: 10%;
    margin-left: 3%;
    display: flex;
}

.legado-item h2{
    font-size: 12px;
    color: rgb(37, 36, 36);
}

h5{
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
}

h6{
    margin-top: 12%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
} */