/* Ajusta el contenedor de cada producto */
.product-item {
    padding-bottom: 50px;
  }
  
  /* Ajusta el estilo de las imágenes dentro del carrusel */
  .product-item .slick-slider {
    position: relative;
    top: 0;
    text-align: center; /* Centra el carrusel horizontalmente */
  }
  
  .product-item .slick-slide {
    padding: 10px; /* Agrega espacio entre las imágenes del carrusel */
  }
  
  .product-item .slick-slide img {
    max-width: 100%;  
    max-height: 400px; /* Altura de las imágenes en el carrusel */
    margin: 0 auto; /* Centra las imágenes horizontalmente */
    display: block; /* Asegura que las imágenes estén alineadas en el centro */
  }

/*.product-item {
    padding-bottom: 50px;
    margin-left: 5%;
}

.product-item img{
    height: 400px;
    width: 95%;
    margin: auto;
    margin-top: 30%;
    margin-left: 3%;
}

.product-item h2{
    font-size: 12px;
    color: rgb(37, 36, 36);
}

h5{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
}*/

